@model FirstMVCApp.Models.OfficeViewModel


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul>
    <li>
        BEN
        OLANIYI
        BISHOP
        OLABIYI
    </li>
</ul>


<p>the age is @Model.Id and the name is @Model.Name</p>    

